<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NASH Weahter | About Team</title>
        <link rel="icon" href="./../../static/images/weather_icon3.png">
        <meta name="description" content="About the team behind NASH Weahter, an all-in-one weather-based planner for all your outdoor activities! ">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../../static/css/style.css">
    </head>
    <body>
        
        <div class="navbar">
            <div class="navbarLogo">
                <div class="logo"><img src="./../../static/images/weather_icon3.png" alt="Logo of the Website"></div>
                <div class="logoText">NASH Weahter</div>
            </div>
            <div class="navbarLinks">
                
                <ul>
                    <li><a href ="#" id="startButton">Register</a></li>
                    <li><a href ="./login.html" id="startButton">Login</a></li>
                    <li><a href ="#" id="startButton">Log Out</a></li>
                    

                    <li><a href="./../../../index.html">Home</a></li>
                    <li><a href="./../../../index.html#feat">Features</a></li>
                    <li><a href="./../../../index.html#tech">Technologies</a></li>

                    <li><a href="#">About Team</a></li>

                </ul>
            </div>
        </div>

        <div class="about underNav pattern">
            <div class="aboutHead">About Our Team</div>
            <div class="aboutCardCont">
                <div class="aboutCard">
                    <img src="./../../static/images/team/Adeeb Rahman.png" alt="Picture of Adeeb Rahman" class="aboutImg">
                    <div class="aboutJobFront">Adeeb Rahman - Front End</div>
                    <div class="aboutText">Designed the pages of the homepage. Made blue prints for webpages and backend function.</div>
                </div>
                <div class="aboutCard">
                    <img src="./../../static/images/team/Hreem Pandya.png" alt="Picture of Hreem Pandya" class="aboutImg">
                    <div class="aboutJobBack">Hreem Pandya - Back End</div>
                    <div class="aboutText">Wrote functions to retrieve data from the APIs. Implemented logic for sorting data into levels. Also helped with many other functions on the back end.</div>
                </div>
                <div class="aboutCard">
                    <img src="./../../static/images/team/Neil Shrivastava.png" alt="Picture of Neil Shrivastava" class="aboutImg">
                    <div class="aboutJobFront">Neil Shrivastava - Back End</div>
                    <div class="aboutText">Worked with Flask to retrieve information from front end. Made a database system to store user info and calculate suitable days. Also worked with APIs.</div>
                </div>
                <div class="aboutCard">
                    <img src="./../../static/images/team/Samuel Sosa.png" alt="Picture of Samuel Sosa" class="aboutImg">
                    <div class="aboutJobBack">Samuel Sosa - Front End</div>
                    <div class="aboutText">Designed multiple pages to communicate with the backend. Helped with website styling and layout.</div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footerCopy">Made by The Senate 2022</div>
            <div class="footerLinks">
                <a href="https://github.com/Arctican4Real/code-name-NASH Weahter" class="footerA">Github Repo</a>
                <a href="https://developers.google.com/maps/apis-by-platform" class="footerA">Google Maps API</a>
                <a href="https://openweathermap.org/api" class="footerA">Open Weather API</a>
                <a href="https://www.python.org/" class="footerA">Python</a>
                <a href="https://flask.palletsprojects.com/en/2.2.x/" class="footerA">Flask</a>
                <a href="https://www.mysql.com/" class="footerA">MySQL</a>
                <a href="https://www.flaticon.com/" class="footerA">FlatIcon (for icons)</a>
            </div>
        </div>
        <script src="./script.js" async defer></script>
    </body>
</html>