<!DOCTYPE html>
<html>
  <head>
    <title>NASH Weather | Activities List</title>
    <link rel="stylesheet" href="./../../static/css/activitiesList.css">
  </head>
  <body>
    <img class="soccerPic" src="./../../static/images/soccerPic.jpeg">
    <div class="loginBox">
      <p class="activitiesTitle">Activities</p>
      <a class="goBackbutton" href="./in-out.html">
        Back to Input Page
      </a>
      <ol class="activitiesList">
        <li>Football</li>
        <li>Tennis</li>
        <li>Baseball</li>
        <li>Basketball</li>
        <li>Running</li>
        <li>Hurdling</li>
        <li>Cycling</li>
        <li>Boating</li>
        <li>Camping</li>
        <li>Hiking</li>
        <li>Golf</li>
        <li>Beach</li>
        <li>Bowling</li>
        <li>Shopping</li>
        <li>Eating Out (Restauarant)</li>
        <li>Indoor swimming</li>
        <li>Museums</li>
        <li>Gym</li>
      </ol>
     </div>
     <img class="golfPic" src="./../../static/images/golfPic.jpeg">
  </body>
</html>
