<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}

            {% endblock %}
        </title>
        <meta name="description" content="PLACEHOLDER TEXT">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>

        <div class="navbar">
            <div class="navbarLogo">
                <div class="logo">&sum;</div>
                <div class="logoText">Sidious</div>
            </div>
            <div class="navbarLinks">

                <ul>
                    <li><button id="startButton">Plan Something!</button></li>

                    <li><a href="./../index.html">Home</a></li>
                    <li><a href="./about-team.html">About Team</a></li>
                    <li><a href="">Link 3</a></li>
                </ul>
            </div>
        </div>

        {% block content %}


        {% endblock %}


    </body>
</html>