<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NASH Weather | Input</title>
        <meta name="description" content="Input page for NASH Weather">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../../static/css/in-out.css">
    </head>
    <body>
        <div class="inputCont">

            <div class="inputTitle">Input Page</div>

            <div class="containerInput">
                <div class="actInput">
                    <input type="text" id="inputField" placeholder="Input from available activities">
                    <a id="actBut" href="./activitiesList.html">See Activities</a>
                    <div class="submitButCont"><button id="submitBut">Submit</button></div>
                    <div class="actButCont">

                    </div>
                </div>
            </div>

                <div id="output">
                    <div class="placeName">NAME OF PLACE</div>
                    <div class="temp">TEMPERATURE</div>
                    <div class="timeDate">TIME AND DATE</div>
                </div>
                <button id="backBut">Back to Homepage</button>
            </div>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>