<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NASH Weather | Login</title>
    <link rel="icon" href="./../../static/images/weather_icon3.png">
    <meta name="description" content="Login into NASH Weather, an all-in-one weather-based planner for all your outdoor activities! ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./../../static/css/login.css">

  </head>
  <body>
    <div class="loginBox">
     <img src="./../../static/images/weather_icon3.jpg" class="avatar"> 
     <h1>Login</h1>
     <form>
        <p>Username</p>
        <input class="usernameInput" type="text" name="" placeholder="Enter Username">
        <p>Password</p>
        <input class="passwordInput" type="password" name="" placeholder="Enter Password">
        <input type="submit" name="" value="Login">
        <a href="#">Don't have an account?</a>
     </form>
    </div>

  </body>
</html>
