<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
  </head>
  <body>
    <div class="registerBox">
      <p class="registerTitle">Register</p>
      <p class="countryTitle">Country</p>
      <input class="countryInput" type="text" name="" placeholder="Enter Country">
      <p class="cityTitle">City</p>
      <input class="cityInput" type="text" name="" placeholder="Enter City">
      <p>Username</p>
      <input class="usernameInput" type="text" name="" placeholder="Enter Username">
      <p>Password</p>
      <input class="passwordInput" type="password" name="" placeholder="Enter Password">
      <button class="confirmButton">
        Confirm
      </button>
    </div>
  </body>
</html>
