<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sidious | Home</title>
        <meta name="description" content="PLACEHOLDER TEXT">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../../static/css/style.css">
    </head>
    <body>
        
        <div class="navbar">
            <div class="navbarLogo">
                <div class="logo">&sum;</div>
                <div class="logoText">Sidious</div>
            </div>
            <div class="navbarLinks">               
                <ul>
                    <li><a href ="./pages/login.html" id="startButton">Plan Something!</a></li>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./pages/about-team.html">About Team</a></li>
                    <li><a href="#">Technologies Used</a></li>
                </ul>
            </div>
        </div>

        <div class="techMain underNav">
            <div class="techHead">Technologies We Used</div>
            <div class="techCont">
                <div class="techCard">
                    <img src="./../../static/images/placeholder.jpeg" alt="" class="techImg">
                    <div class="techText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi commodi nihil quas ipsum praesentium cum repudiandae, mollitia quod, voluptates voluptas eum, cumque architecto vel! Animi fugit minus corrupti ipsum adipisci?</div>
                </div>
                <div class="techCard">
                    <img src="./../../static/images/placeholder.jpeg" alt="" class="techImg">
                    <div class="techText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatibus animi totam! Voluptatem maiores ducimus aperiam beatae enim iusto praesentium, soluta impedit vero tempore atque iure officiis deleniti! Laborum, voluptatum?</div>
                </div>
                <div class="techCard">
                    <img src="./../../static/images/placeholder.jpeg" alt="" class="techImg">
                    <div class="techText">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt vero odit iusto non voluptates nihil, maiores quasi. Voluptate, quae quasi doloribus suscipit, minus hic, facere nihil unde beatae repellat perspiciatis.</div>
                </div>
                <div class="techCard">
                    <img src="./../../static/images/placeholder.jpeg" alt="" class="techImg">
                    <div class="techText">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda cumque exercitationem molestiae, hic quasi ipsam possimus quidem fuga fugit placeat earum odio! Magni, aut ea assumenda commodi vitae consectetur culpa.</div>
                </div>
                <div class="techCard">
                    <img src="./../../static/images/placeholder.jpeg" alt="" class="techImg">
                    <div class="techText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam obcaecati, tempora provident vel repellat illo eius voluptas, asperiores dignissimos eum sequi natus. Debitis ratione, laboriosam illum omnis eaque repellat consequuntur?</div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footerCopy">&copy; The Senate 2022</div>
            <div class="footerLinks">
                <a href="" class="footerA">These</a>
                <a href="" class="footerA">Are</a>
                <a href="" class="footerA">Just</a>
                <a href="" class="footerA">Some</a>
                <a href="" class="footerA">Random</a>
                <a href="" class="footerA">Links</a>
                <a href="" class="footerA">To</a>
                <a href="" class="footerA">Click</a>
            </div>
        </div>
        <script src="./script.js" async defer></script>
    </body>
</html>