<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sidious | Technologies Used</title>
        <link rel="icon" href="./../../static/images/weather_icon3.png">
        <meta name="description" content="Technologies used to maek Sidious, an all-in-one weather-based planner for all your outdoor activities! T">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../../static/css/style.css">
    </head>
    <body>
        
        <div class="navbar">
            <div class="navbarLogo">
                <div class="logo"><img src="./../../static/images/weather_icon3.png" alt="Logo of the Website"></div>
                <div class="logoText">Sidious</div>
            </div>
            <div class="navbarLinks">               
                <ul>
                    <li><a href ="./login.html" id="startButton">Plan Something!</a></li>
                    <li><a href="./../index.html">Home</a></li>
                    <li><a href="./about-team.html">About Team</a></li>
                    <li><a href="./tech-we-used.html">Technologies Used</a></li>
                </ul>
            </div>
        </div>

        <div class="techMain underNav">
            <div class="techHead">Technologies We Used</div>
            <div class="techCont">
                <div class="techCard">
                    <img src="./../../static/images/tech/HCJ.png" alt="Picture of HTML, CSS, and Javascript logos" class="techImg">
                    <div class="techText">The front end was made with HTML and vanilla CSS, as well as some Javascript.</div>
                </div>
                <div class="techCard">
                    <img src="./../../static/images/tech/PyF.png" alt="Picture of Flask and Python logo" class="techImg">
                    <div class="techText">Python and Flask was used for backend functions, and manipulating the HTML.</div>
                </div>
                <div class="techCard">
                    <img src="./../../static/images/tech/SQL.png" alt="Picture of SQL logo" class="techImg">
                    <div class="techText">The user registry database was handled using SQL.</div>
                </div>
                <div class="techCard">
                    <img src="./../../static/images/tech/GO.png" alt="" class="techImg">
                    <div class="techText">The <a href="https://developers.google.com/maps/apis-by-platform" class="techLink">Google maps API</a> handles location data. The <a href="https://openweathermap.org/api" class="techLink">OpenWeather API</a> provides weather information.</div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footerCopy">&copy; The Senate 2022</div>
            <div class="footerLinks">
                <a href="" class="footerA">These</a>
                <a href="" class="footerA">Are</a>
                <a href="" class="footerA">Just</a>
                <a href="" class="footerA">Some</a>
                <a href="" class="footerA">Random</a>
                <a href="" class="footerA">Links</a>
                <a href="" class="footerA">To</a>
                <a href="" class="footerA">Click</a>
            </div>
        </div>
        <script src="./script.js" async defer></script>
    </body>
</html>