{% extends 'base.html' %}

{% block title %}
about team
{% endblock %}

{% block content %}
        <div class="about underNav">
            <div class="aboutHead">About Our Team</div>
            <div class="aboutCardCont">
                <div class="aboutCard">
                    <img src="./../placeholder.jpeg" alt="" class="aboutImg">
                    <div class="aboutJob">Adeeb - Front End</div>
                    <div class="aboutText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit distinctio in similique facilis! Molestias corrupti dignissimos est enim accusamus pariatur excepturi illo vel consectetur commodi error, deserunt saepe aut suscipit.</div>
                </div>
                <div class="aboutCard">
                    <img src="./../placeholder.jpeg" alt="" class="aboutImg">
                    <div class="aboutJob">Hreem - Back End</div>
                    <div class="aboutText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ipsam dolor id magnam quisquam quis quam eos numquam necessitatibus fuga! Esse odio minima quasi, sit voluptas totam quod exercitationem. Quod?</div>
                </div>
                <div class="aboutCard">
                    <img src="./../placeholder.jpeg" alt="" class="aboutImg">
                    <div class="aboutJob">Neil - Back End</div>
                    <div class="aboutText">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum dicta, non dolore iste recusandae assumenda rem! Ducimus, nesciunt! Et atque voluptates explicabo! Dignissimos fuga distinctio molestias saepe nemo est eveniet!</div>
                </div>
                <div class="aboutCard">
                    <img src="./../placeholder.jpeg" alt="" class="aboutImg">
                    <div class="aboutJob">Samuel - Front End</div>
                    <div class="aboutText">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique aperiam deserunt optio vel nihil adipisci, mollitia consequatur eveniet praesentium veniam in quas numquam perspiciatis, reprehenderit amet porro suscipit ducimus omnis.</div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footerCopy">&copy; The Senate 2022</div>
            <div class="footerLinks">
                <a href="" class="footerA">These</a>
                <a href="" class="footerA">Are</a>
                <a href="" class="footerA">Just</a>
                <a href="" class="footerA">Some</a>
                <a href="" class="footerA">Random</a>
                <a href="" class="footerA">Links</a>
                <a href="" class="footerA">To</a>
                <a href="" class="footerA">Click</a>
            </div>
        </div>
        <script src="./script.js" async defer></script>

{% endblock %}