<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}

            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
        <meta name="description" content="An all-in-one weather-based planner for all your outdoor activities!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>

         <div class="navbar">
            <div class="navbarLogo">
                <div class="logo"><img src="{{ url_for('static', filename='images/weather_icon3.png') }}" alt="Logo of the Website"></div>
                <div class="logoText">NASH Weather</div>
            </div>
            <div class="navbarLinks">
                <ul>
                    <li><a href ="{{ url_for('register') }}" id="startButton">Register</a></li>
                    <li><a href ="{{ url_for('login') }}" id="startButton">Login</a></li>
                    <li><a href ="logout" id="startButton">Log Out</a></li>


                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="#feat">Features</a></li>
                    <li><a href="#tech">Technologies</a></li>

                    <li><a href="{{ url_for('about_team') }}">About Team</a></li>


                </ul>
            </div>
        </div>

        {% block content %}


        {% endblock %}


    </body>
</html>