<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sidious | Home</title>
        <link rel="icon" href="./../static/images/weather_icon3.png">
        <meta name="description" content="An all-in-one weather-based planner for all your outdoor activities!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../static/css/style.css">
    </head>
    <body>
        
        <div class="navbar">
            <div class="navbarLogo">
                <div class="logo"><img src="./../static/images/weather_icon3.png" alt="Logo of the Website"></div>
                <div class="logoText">Sidious</div>
            </div>
            <div class="navbarLinks">
                <ul>
                    <li><a href ="./pages/login.html" id="startButton">Plan Something!</a></li>

                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./pages/about-team.html">About Team</a></li>
                    <li><a href="./pages/tech-we-used.html">Technologies Used</a></li>
                </ul>
            </div>
        </div>
        
        <div class="hero underNav">
            <div class="heroText">
                <div class="heroTextSlogan">Planning for the weather has never been easier!</div>
                <div class="heroTextExtra">
                    Wouldn't it be nice to avoid all the fuss and plan a trip somewhere, with the confidence that the weather will be perfect for all your activities. How many more trips would you go on if you could plan better for the weather? If only it was that easy...
                    <br><br>
                    Well, now it can be! Introducing SIDIOUS, an all-in-one weather-based planner for all your outdoor activities!                 
                </div>
                <li><a href ="./pages/login.html" id="startButton">Plan Something!</a></li>
            </div>
            <div class="heroImg">
                <img src="./../static/images/icon-3d.png" alt="3D version of logo" height="500px" width="500px">
            </div>
        </div>

        <div class="features" id="pattern">
            <div class="featureHead">What can it do?</div>

            <div class="featureCard">
                <div class="featureCardText">
                    Choose an activity, and SIDIOUS will look a week into the future to find the ideal day for you!
                </div>
                <img src="./../static/images/icons/telescope.png" alt="Icon of a telescope" class="featureCardPic">
            </div>
            <div class="featureCard reverse">
                <div class="featureCardText">
                    It finds many suitable destinations and simultaneously maps out all their forecasts. Then it will suggest the location and day with the best weather. That way you may "BEAT THE HEAT" and stay cool while enjoying all the benefits of summer.                
                </div>
                <img src="./../static/images/icons/map.png" alt="" class="featureCardPic">
            </div>
            <div class="featureCard">
                <div class="featureCardText">
                    What if the coming week isn't suitable for your activity? SIDIOUS will suggest other activities you may do indoors! It will also sort them by power consumption allowing you to "BEAT THE HEAT" in a different way by saving energy and reducing global warming!                 
                </div>
                <img src="./../static/images/icons/energy-saving.png" alt="" class="featureCardPic">
            </div>
            <div class="featureCard reverse">
                <div class="featureCardText">
                    SIDIOUS uses the Google Maps and Open Weather APIs to find the locations that pertain to your activities as well as and weather. This ensures that the information is accurate and up-to-date                </div>
                <img src="./../static/images/icons/shield.png" alt="" class="featureCardPic">
            </div>
        </div>

        <div class="quoteContainer">
            <div class="quote">“A goal without a plan is just a wish.”</div>
            <div class="quoteAuth">― Antoine de Saint-Exupéry
            </div>
        </div>

            <div class="ctaMain">
                <div class="ctaCont">
                    <div class="ctaText">SIDIOUS is easy to use, has a beautiful UI, and saves you time! Give SIDIOUS a try now!</div>
                    <li><a href ="./pages/login.html" id="startButton">Plan Something!</a></li>
                </div>
            </div>

        <div class="footer">
            <div class="footerCopy">Made by The Senate 2022</div>
            <div class="footerLinks">
                <a href="https://github.com/Arctican4Real/code-name-sidious" class="footerA">Github Repo</a>
            </div>
        </div>
        <script src="./script.js" async defer></script>
    </body>
</html>