<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sidious | Home</title>
        <link rel="icon" href="./../static/images/weather_icon3.png">
        <meta name="description" content="PLACEHOLDER TEXT">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../static/css/style.css">
    </head>
    <body>
        
        <div class="navbar">
            <div class="navbarLogo">
                <div class="logo"><img src="./../static/images/weather_icon3.png" alt="Logo of the Website"></div>
                <div class="logoText">Sidious</div>
            </div>
            <div class="navbarLinks">
                <ul>
                    <li><a href ="./pages/login.html" id="startButton">Plan Something!</a></li>

                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./pages/about-team.html">About Team</a></li>
                    <li><a href="./pages/tech-we-used.html">Technologies Used</a></li>
                </ul>
            </div>
        </div>
        
        <div class="hero underNav">
            <div class="heroText">
                <div class="heroTextSlogan">Sir this is a wendy's, would you like your milkshake?</div>
                <div class="heroTextExtra">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, nostrum dicta? Quo ipsum sed aliquid debitis nostrum voluptate? Error eaque qui natus nisi atque ullam quidem esse est accusantium praesentium!
                </div>
                <li><a href ="./pages/login.html" id="startButton">Plan Something!</a></li>
            </div>
            <div class="heroImg">
                <img src="./../static/images/placeholder.jpeg" alt="Random placeholder image" height="500px" width="500px">
            </div>
        </div>

        <div class="features">
            <div class="featureHead">What can it do?</div>

            <div class="featureCard">
                <div class="featureCardText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nemo nihil odio assumenda ex. Laudantium ab illum blanditiis cumque deleniti repellendus voluptates excepturi dolor, eaque alias dolorem consequatur consequuntur recusandae.</div>
                <img src="./../static/images/placeholder.jpeg" alt="" class="featureCardPic">
            </div>
            <div class="featureCard reverse">
                <div class="featureCardText">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis voluptatum ipsa mollitia quasi maxime cum tenetur, soluta, nulla sapiente laborum facilis adipisci, dolor eaque corrupti? Iste quia soluta nisi fugit!</div>
                <img src="./../static/images/placeholder.jpeg" alt="" class="featureCardPic">
            </div>
            <div class="featureCard">
                <div class="featureCardText">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum rem accusantium ipsa voluptates distinctio atque consequuntur ut, aspernatur odit cupiditate aliquid dolor doloremque? Velit magnam labore ipsa laboriosam repudiandae sequi.</div>
                <img src="./../static/images/placeholder.jpeg" alt="" class="featureCardPic">
            </div>
            <div class="featureCard reverse">
                <div class="featureCardText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatem non quidem ab ducimus, ullam eius sapiente delectus illum nesciunt laborum repellendus, harum rerum et dolore quaerat minima animi architecto?</div>
                <img src="./../static/images/placeholder.jpeg" alt="" class="featureCardPic">
            </div>
        </div>

        <div class="quoteContainer">
            <div class="quote">"The only limit to our realization of tomorrow will be our doubts of today."</div>
            <div class="quoteAuth">- Franklin D. Roosevelt</div>
        </div>

            <div class="ctaMain">
                <div class="ctaCont">
                    <div class="ctaText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iusto, recusandae eius quo voluptates aperiam quam ratione maiores pariatur explicabo est esse repellendus quae voluptate? Odio, enim. Ipsam, iure impedit?</div>
                    <li><a href ="./pages/login.html" id="startButton">Plan Something!</a></li>
                </div>
            </div>

        <div class="footer">
            <div class="footerCopy">&copy; The Senate 2022</div>
            <div class="footerLinks">
                <a href="" class="footerA">These</a>
                <a href="" class="footerA">Are</a>
                <a href="" class="footerA">Just</a>
                <a href="" class="footerA">Some</a>
                <a href="" class="footerA">Random</a>
                <a href="" class="footerA">Links</a>
                <a href="" class="footerA">To</a>
                <a href="" class="footerA">Click</a>
            </div>
        </div>
        <script src="./script.js" async defer></script>
    </body>
</html>