
{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}

    <div class="loginBox">
     <img src="{{ url_for('static', filename='images/weather_icon3.jpg') }}" class="avatar">
     <h1>Login</h1>
     <form action="{{ url_for('login') }}" method="post" autocomplete="off">
        <p>Username</p>
        <input class="usernameInput" type="text" name="username" placeholder="Enter Username">
        <p>Password</p>
        <input class="passwordInput" type="password" name="password" placeholder="Enter Password">
         <div class="msg">{{ msg }}</div>
        <input type="submit"  value="Login">
        <a href="{{  url_for('register')  }}">Don't have an account?</a>
     </form>
    </div>

{% endblock %}

