{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}

<div class="registerBox">
      <p class="registerTitle">Register</p>
      <p class="countryTitle">Country</p>
	<form action="{{ url_for('register') }}" method="post" autocomplete="off">
		  <input class="countryInput" type="text" name="country" placeholder="Enter Country">
		  <p class="cityTitle">City</p>
		  <input class="cityInput" type="text" name="city" placeholder="Enter City">
		  <p>Username</p>
		  <input class="usernameInput" type="text" name="username" placeholder="Enter Username">
		  <p>Password</p>
		  <input class="passwordInput" type="password" name="password" placeholder="Enter Password">
		  <p>email</p>
		  <input class="usernameInput" type="text" name="email" placeholder="Enter Email">
		  <button class="confirmButton">
			Confirm
		  </button>

	</form>

    </div>

<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">


				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
		</div>
{% endblock %}


