{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}

    <div class="loginBox">
        <form method="POST"  style="color:white">
            {{ form.csrf_token }}

            <h1 class="">
                Please Create your Account
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="usernameInput", placeholder="User Name") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="usernameInput", placeholder="Email Address") }}

            {{ form.password.label() }}
            {{ form.password(class="usernameInput", placeholder="Password") }}

            {{ form.confirm_pass.label() }}
            {{ form.confirm_pass(class="usernameInput", placeholder="Confirm Password") }}

            {{ form.country.label() }}
            {{ form.country(class="usernameInput", placeholder="Your country") }}

            {{ form.city.label() }}
            {{ form.city(class="usernameInput", placeholder="Your city") }}


            <br>

    </div>
{% endblock %}



