body{
  background-color:#ACD1AF;
  background-size:cover;
  font-family:sans-serif;
  margin:0;
  padding:0;
}

.loginBox{
  width:340px;
  height:750px;
  background:#9AB8F7;
  color:#fff;
  top:50%;
  left:50%;
  position:absolute;
  transform:translate(-50%,-50%);
  box-sizing:border-box;
  padding: 70px 30px;
  padding-top:10px;
  padding-bottom:10px;
  line-height:28px;
  box-shadow: 1px 2px 8px #5a88ed;
}

.activitiesTitle{
  font-weight:bold;
  padding-left:80px;
  padding-right:80px;
  font-size:25px;
  margin-bottom:0px;

}

.activitiesList{
  margin-top:20px;
  padding-left:100px;
  padding-right:100px;
  font-size:20px;
}

.soccerPic{
  height:150px;
  width:250px;
  border:none;
  border-radius:50px;
  margin-top:100px;
  margin-left:180px;
  transform:rotate(340deg);
}

.golfPic{
  height:150px;
  width:250px;
  border:none;
  border-radius:50px;
  margin-top:100px;
  margin-left:570px;
  transform:rotate(20deg);
}

.goBackbutton{
  border:none;
  outline:none;
  padding-top:7px;
  padding-bottom:7px;
  padding-left:8px;
  padding-right:8px;
  margin-left:70px;
  margin-right:70px;
  height:35px;
  background:#ffc107;
  color:white;
  font-size:14px;
  border-radius:20px;
  cursor:pointer;
  transform:background-color 0.15s;
}

.goBackbutton:hover{
  background-color:#efb400;
}

.goBackbutton:active{
  background-color:#f7cc4c;
}
