/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+Garamond&family=Kalam:wght@300&family=Proza+Libre&display=swap');

/*Colors*/
:root{
    --color-1:#a3d3ff;
    --color-2:#fef9f0;
    --color-3:#ff875e;
    --color-4:#fee53e;
    --off-white:#fcfcfc;
}



/*For debug*/
/* *{
    outline: solid greenyellow 2px;
}           */

*{
    margin: 0px;
    padding: 0px;
    border : 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    
}

ul, li{
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

img , button, button.div{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, html{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;

    scroll-behavior: smooth;
}

button, .navbarLinks a{
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

/*Scroll bar*/
body::-webkit-scrollbar {
    width: 10px;
  }
  
body::-webkit-scrollbar-track {
    background: var(--color-1);
  }
  
body::-webkit-scrollbar-thumb{
    background-color: var(--color-4);
    border-radius: 100px;   
    border: 2px solid var(--color-1);  
  }

body::-webkit-scrollbar-thumb:hover{
    background-color:#fff29a;  
  }
  

/*Special Button*/
#startButton{
    padding: 10px;
    font-size: 15px;
    border-radius: 50px;
    color: black;
    border: 2px black solid;

    transition: all 0.3s ease-out;

}

#startButton:hover{
    color: white;
    border: 2px white solid;
    border-radius: 20px;
    background-color: black;

    transition: all 0.3s ease-in;

}

/*Pattern Backdrop*/
.pattern{
    background-image: url("./../images/pattern.png");
    background-color: white;
}

.about .pattern{
    background-size: cover;
}
/*Navbar*/
.navbar{
    width: 100%;
    position: fixed;
    z-index: 999;

    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 70px;

    padding: 10px;

    background-color:#47a0f4 ;

}

.navbarLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    gap: 10px;
}

.logoText{
    font-size: 36px;
    color: white;
    font-family: 'Abel', sans-serif;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.logo img{
    width: 50px;
    height: 50px;
    padding: 5px;
    transition: 0.5s all ease-out;
}

.logo img:hover{
    transform: rotate(720deg);
    margin-bottom: 5px;
    transition: 0.5s all ease-in;
}


.navbarLinks ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20px;
}

.navbarLinks a{
    padding: 5px 10px;
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
}

.navbarLinks #startButton{
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 18px;

    border: 2px #fee53e solid;
    border-radius: 50px;

    transition: all 0.3s ease-out;

    padding: 2px 20px;
}

.navbarLinks #startButton:hover{
    border-radius: 5px;
    color: black;
    background-color: #fee53e;
    transition: all 0.3s ease-in;

}

.navbarLinks a{
    border-radius: 2px;
    transition: all 0.2s ease-out;
}

.navbarLinks a:hover{
    background-color: white;
    color: black;
    transition:all 0.2s ease-in;
}

.underNav{
    padding-top: 80px !important;
}

/*Hero*/
.hero{
    padding: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    background-color: #ffe9c2;
}


.heroText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.heroTextSlogan{
    font-size: 42px;
    text-align: left;
    font-family: 'Proza Libre', sans-serif;

}

.heroTextExtra{
    font-size: 22px;
    line-height: 30px;
    text-align: justify;
    font-family: 'Cormorant Garamond', serif;
    padding-bottom: 20px;

}

.hero #startButton{
    padding: 20px;
    color: black;
    border-color: black;
    background-color: #ff875e;

}

.hero #startButton:hover{
    padding: 20px;
    color: white;
    background-color: #ff875e;
    border-color:black;
}

/*Feature section*/
.features{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 20px;
    /* background-size: cover; */
}

.featureHead{
    font-size: 45px;
    font-family: 'Proza Libre', sans-serif;
    text-align: left;
    background-color: white;
    margin-bottom: 20px;
}

.featureCardText{
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    color: black;
    padding: 30px;
    text-align: justify;
}

.featureCard{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-left: 50px;
    background-color:#fef9f0;
    border: 5px dotted #ff875e;
    border-radius: 20px;
    padding: 20px;

    width: 60%;
    gap: 20px;
    padding: 10px;
}

.featureCard.reverse{
    flex-direction: row-reverse;
    margin-left: 0px;
    margin-right: 50px;

}

.featureCardPic{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    padding: 10px;

}

/*Working on quote section*/
.quoteContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;

    background-color: #a3d3ff;

    padding: 20px;

    border-left: white solid 20px;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 100px;

    border-right: white solid 20px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 100px;


}

.quote{
    font-size: 48px;
    font-style: italic;
    font-family: 'Kalam', cursive;
    color: black;

}

.quoteAuth{
    margin-top: 20px; 
    margin-right: 20px;   

    font-size: 16px;
    font-family: 'Proza Libre', sans-serif;
    color: black;

}

/*About section*/
.about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.aboutHead{
    font-size: 45px;
    font-family: 'Proza Libre', sans-serif;
}

.aboutCardCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.aboutCard{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    gap: 10px;
    background-color: #fef9f0;
    border-radius: 20px;
    border:#fee53e solid 2px;
    padding: 10px 20px;
}

.aboutImg{
    box-sizing: content-box;
    height: 200px;
    width: 200px;

    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;

}

.aboutJobBack{
    font-family: 'Abel', sans-serif;
    font-weight: 900;
    color: #ff632f;
}

.aboutJobFront{
    font-family: 'Abel', sans-serif;
    font-weight: 900;
    color: #2a97fd;
}

.aboutText{
    padding: 10px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;

}

/*CTA at end*/
.ctaMain{
    padding: 30px;
}

.ctaCont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 20px;

    background-color: #a3d3ff;
}
.ctaMain #startButton{
    padding: 20px;
    color: black;
    border-color: black;
    background-color: #ff875e;

}

.ctaMain #startButton:hover{
    padding: 20px;
    color: white;
    background-color: #ff875e;
    border-color:black;
}
.ctaText{
    width: 50%;
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    color: black;

}


/*Tech we used*/
.techMain{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.techHead{
    margin-top: 32px;
    font-size: 45px;
    font-family: 'Proza Libre', sans-serif;
}

.techCard{
    width: 75vw;
    height: 40vh;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 20px;
    background-color: #ffecc8;

    font-family: 'Cormorant Garamond', serif;
}

.techCont{
    padding: 20px;
    background-color: #ffecc8;
    border-radius: 20px;   
}

.techImg{
    width: 200px;
    height: 200px;
    box-shadow:         0px 10px 5px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow:    0px 10px 5px 3px rgba(0,0,0,0.75);

    transition: all .5s ease-out;
}

.techImg:hover{
    margin-bottom: 20px;
    transition: all .5s ease-in;

    box-shadow:         0px 20px 30px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 20px 30px 3px rgba(0,0,0,0.75);
    -moz-box-shadow:    0px 20px 30px 3px rgba(0,0,0,0.75);
}

.techText{
    font-size: 32px;
    padding: 2px;
}

.techLink{
    color: blue;
    font-family: 'Abel', sans-serif;
    transition: all .2s ease-out;
}

.techLink:hover{
    color: white;
    color: rgb(0, 0, 90);
    transition: all .2s ease-in;
}
/*Footer*/
.footer{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: #fee53e;

}

.footerCopy{
    font-size: 20px;
    color: black;
    font-family: 'Abel', sans-serif;


}

.footerA{
    margin: 0px 20px;
    color: black;
    border-bottom: 5px dotted #ff875e;
    font-family: 'Abel', sans-serif;

    font-size: 16px;
    transition: 0.1s all ease-in;
}

.footerA:hover{
    font-size: 22px;
    border-bottom: 5px solid #ff875e;
    transition: all 0.1s ease-in;
}