/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Acme&family=Kalam:wght@300&family=Oswald:wght@200&family=Poppins&family=Prompt:wght@700&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

/*
    font-family: 'Abel', sans-serif;

    font-family: 'Acme', sans-serif;

    font-family: 'Kalam', cursive;

    font-family: 'Oswald', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Prompt', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Mono', monospace;
*/

/*Colors*/
:root{
    --color-1:#a3d3ff;
    --color-2:#fef9f0;
    --color-3:#ff875e;
    --color-4:#fee53e;
    --off-white:#fcfcfc;
}



/*For debug*/
/* *{
    outline: solid greenyellow 2px;
}         */

*{
    margin: 0px;
    padding: 0px;
    border : 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    
}

ul, li{
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

img , button, button.div{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, html{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;

    scroll-behavior: smooth;
}

button, .navbarLinks a{
    padding: 0px;
    margin: 0px;
    /* background-color: transparent; */
    cursor: pointer;
}

/*Special Button*/
#startButton{
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Prompt', sans-serif;
    border-radius: 50px;

    background-color: #42a4ff;
    color: white;
    border: solid 2px white;

}

/*Navbar*/
.navbar{
    width: 100%;
    position: fixed;

    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 50px;

    padding: 10px;

    background-color: var(--color-3);
}

.navbarLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    gap: 10px;
}

.logoText{
    font-size: 36px;
    font-family: 'Acme', sans-serif;
    color: var(--off-white);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.logo img{
    width: 50px;
    height: 50px;
    padding: 5px;
}


.navbarLinks ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 10px;
}

.navbarLinks a,
.navbarLinks #startButton{
    padding: 5px 10px;
    font-family: 'Prompt', sans-serif;

}

.navbarLinks a{
    color: var(--off-white);
    border-radius: 5px;

}

.underNav{
    padding-top: 60px !important;
}

/*Hero*/
.hero{
    padding: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    background-color:#ffe225;
    font-family: 'Roboto Mono', monospace;

}

.heroText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.heroTextSlogan{
    font-size: 42px;
    font-weight: bold;

    color: white;
}

.heroTextExtra{
    font-size: 22px;
    line-height: 30px;
    font-style: italic;
    margin-bottom: 20px;
}

/*Feature section*/
.features{
    background-color: #ffe4b1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 20px;
}

.featureHead{
    font-size: 32px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;

}

.featureCardText{
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.featureCard{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 60%;
    gap: 20px;
    padding: 10px;
}

.featureCard.reverse{
    flex-direction: row-reverse;
}

.featureCardPic{
    width: 200px;
    height: 200px;
}

/*Working on quote section*/
.quoteContainer{
    background-color:#ffe225;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
}

.quote{
    font-size: 50px;
    font-style: italic;
}

.quoteAuth{
    align-self: flex-end;
    margin-top: 20px;    

    font-family: 'Kalam', cursive;
    font-size: 30px;

}

/*About section*/
.about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    /* background:var(--color-2); */
}

.aboutHead{
    font-size: 32px;
    font-weight: 900;   
}

.aboutCardCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.aboutCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    gap: 10px;
}

.aboutImg{
    height: 200px;
    width: 200px;
}

.aboutJob{
    font-weight: 900;
}

.aboutText{
    padding: 5px;
}

/*CTA at end*/
.ctaMain{
    background-color: #ffe4b1;
    padding: 30px;
}

.ctaCont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #42a4ff;
    border-radius: 20px;

    /* background-color: var(--color-3); */
}
.ctaMain #startButton{
    padding: 20px;
}
.ctaText{
    width: 50%;
}


/*Tech we used*/
.techMain{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.techHead{
    margin-top: 20px;
    font-size: 32px;
    font-weight: 900;
}

.techCard{
    width: 75vw;
    height: 40vh;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.techImg{
    width: 200px;
    height: 200px;
}

.techText{
    font-size: 22px;
    padding: 2px;
}

/*Footer*/
.footer{
    /* background-color: var(--color-1); */
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--color-3);

}

.footerCopy{
    font-style: italic;
    font-size: 20px;
}

.footerA{
    margin: 0px 20px;
    color: blue;
}