/*Colors*/
:root{
    --color-1:#3ab4ff;
    --color-2:#FFEEDB;
    --color-3:#ffb92c;
    --color-4:#ff1f40;
}

/*For debug*/
/* *{
    outline: solid greenyellow 2px;
}        */

*{
    margin: 0px;
    padding: 0px;
    border : 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    
}

ul, li{
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

img , button, button.div{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, html{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;

    scroll-behavior: smooth;
}

button, .navbarLinks a{
    padding: 0px;
    margin: 0px;
    /* background-color: transparent; */
    cursor: pointer;
}

/*Special Button*/
#startButton{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: gray;
    border-radius: 50px;
}

/*Navbar*/
.navbar{
    width: 100%;
    position: fixed;

    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 50px;

    padding: 10px;

    background-color: grey;
}

.navbarLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    font-size: 20px;

    gap: 10px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

.navbarLinks ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 10px;
}

.navbarLinks a{
    padding: 15px;

    color: white;

    border-radius: 20px;
}

.underNav{
    padding-top: 60px !important;
}

/*Hero*/
.hero{
    padding: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--color-1); */
    gap: 30px;
}

.heroText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.heroTextSlogan{
    font-size: 42px;
    font-weight: bold;

    color: white;
}

.heroTextExtra{
    font-size: 22px;
    line-height: 30px;
    font-style: italic;
}

/*Feature section*/
.features{
    /* background: var(--color-2); */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 20px;
}

.featureHead{
    font-size: 32px;
    font-weight: 900;
}

.featureCard{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 60%;
    gap: 20px;
    padding: 10px;
}

.featureCard.reverse{
    flex-direction: row-reverse;
}

.featureCardPic{
    width: 200px;
    height: 200px;
}

/*Working on quote section*/
.quoteContainer{
    /* background:var(--color-1); */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
}

.quote{
    font-size: 50px;
    font-style: italic;
}

.quoteAuth{
    align-self: flex-end;
    margin-top: 20px;    
}

/*About section*/
.about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    /* background:var(--color-2); */
}

.aboutHead{
    font-size: 32px;
    font-weight: 900;   
}

.aboutCardCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.aboutCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    gap: 10px;
}

.aboutImg{
    height: 200px;
    width: 200px;
}

.aboutJob{
    font-weight: 900;
}

.aboutText{
    padding: 5px;
}

/*CTA at end*/
.ctaMain{
    /* background: var(--color-1); */
}

.ctaCont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    /* background-color: var(--color-3); */
}
.ctaMain #startButton{
    padding: 40px;
}
.ctaText{
    width: 50%;
}


/*Tech we used*/
.techMain{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.techHead{
    margin-top: 20px;
    font-size: 32px;
    font-weight: 900;
}

.techCard{
    width: 75vw;
    height: 40vh;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.techImg{
    width: 200px;
    height: 200px;
}

.techText{
    font-size: 22px;
    padding: 2px;
}

/*Footer*/
.footer{
    /* background-color: var(--color-1); */
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footerCopy{
    font-style: italic;
    font-size: 20px;
}

.footerA{
    margin: 0px 20px;
    color: blue;
}